<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <title>Home</title>
</head>
<body>
    
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
            <img class="logo" src="/assets/img/logo.png" alt="">
            <a class="navbar-brand" href="#" style="padding: 0!important;">Epic Loot!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pannello.html">Pannello</a>
                    </li>
                    <!-- AGGIUNGERE ALTRI LINK SE NECESSARIO -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- SLIDER HERO -->
    <div class="hero-slider">
        <!-- Slides -->
        <div class="slide active" style="background-image: url('/assets/img/hero-tcg-battle.jpg');">
            <div class="content">
                <h1>It's dueling time!</h1>
                <p>Battle your friends with the most epic cards ever created!</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('/assets/img/videogames-hero.jpg');">
            <div class="content">
                <h1>Seamless gaming experience</h1>
                <p> Games, hardware and accessories for any kind of gamer</p>
                <a href="#" class="btn">Get Started</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('/assets/img/manga-hero.jpg');">
            <div class="content">
                <h1>Relax </h1>
                <p> Don't miss the latest releases, like Saitama! </p>
                <a href="#" class="btn">Sign Up</a>
            </div>
        </div>

        <!-- Navigation -->
        <div class="navigation">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>
    </div>
<!-- FINE SLIDER HERO -->

<!-- PARALLAX 1 
<div class="parallax parallax1"></div>
-->

<h2 class="mb-3 mt-5 section-title">New Products</h2>
<!-- NEW PRODUCTS GRID -->
<div class="product-grid my-5" id="new-products">
   
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/baldurs_gate_3_collector_DXz6AG6_jpg_1600x900_crop_q85.webp" alt="Product 1">
            <h3>Product 1</h3>
            <p>This is a description of Product 1. It's amazing and worth buying.</p>
        </div>
    </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Blame.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>This is a description of Product 2. It’s even better than Product 1.</p>
        </div>
    </a>
   <a href="product.html" class="card-link">
    <div class="card">
        <img src="../assets/img/HK.jpg" alt="Product 3">
        <h3>Product 3</h3>
        <p>This is a description of Product 3. It’s the most popular choice!</p>
    </div>
   </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Magic tcg.webp" alt="Product 4">
            <h3>Product 4</h3>
            <p>This is a description of Product 4. A classic you can’t miss.</p>
        </div>
    </a>
    <a href="product.html" class="card-link"> 
        <div class="card">
            <img src="../assets/img/pokemon-tcg-pocket-rarest-cards-1.jpg" alt="Product 5">
            <h3>Product 5</h3>
            <p>This is a description of Product 5. Perfect for everyone.</p>
        </div>
    </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Zetman.jpg" alt="Product 6">
            <h3>Product 6</h3>
            <p>This is a description of Product 6. Limited edition!</p>
        </div>
    </a>
</div>
<!-- FINE NEW PRODUCTS GRID -->

<!-- PARALLAX 2 -->
<div class="parallax parallax2"></div>

<h2 class="mb-3 mt-5 section-title">Best Sellers</h2>
<!-- BEST SELLERS GRID -->
<div class="product-grid my-5" id="best-sellers">
   
    <a href="product.html" class="card-link"> <!-- product.html?id=1 -->
        <div class="card">
            <img src="../assets/img/baldurs_gate_3_collector_DXz6AG6_jpg_1600x900_crop_q85.webp" alt="Product 1">
            <h3>Product 1</h3>
            <p>This is a description of Product 1. It's amazing and worth buying.</p>
        </div>
    </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Blame.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>This is a description of Product 2. It’s even better than Product 1.</p>
        </div>
    </a>
   <a href="product.html" class="card-link">
    <div class="card">
        <img src="../assets/img/HK.jpg" alt="Product 3">
        <h3>Product 3</h3>
        <p>This is a description of Product 3. It’s the most popular choice!</p>
    </div>
   </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Magic tcg.webp" alt="Product 4">
            <h3>Product 4</h3>
            <p>This is a description of Product 4. A classic you can’t miss.</p>
        </div>
    </a>
    <a href="product.html" class="card-link"> 
        <div class="card">
            <img src="../assets/img/pokemon-tcg-pocket-rarest-cards-1.jpg" alt="Product 5">
            <h3>Product 5</h3>
            <p>This is a description of Product 5. Perfect for everyone.</p>
        </div>
    </a>
    <a href="product.html" class="card-link">
        <div class="card">
            <img src="../assets/img/Zetman.jpg" alt="Product 6">
            <h3>Product 6</h3>
            <p>This is a description of Product 6. Limited edition!</p>
        </div>
    </a>
</div>
<!-- FINE BEST SELLERS GRID -->

<!-- PARALLAX 3 -->
<div class="parallax parallax3"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/scripts/home.js"></script>
</body>
</html>