<!-- Protetta da un controllo per l’autenticazione, accesso limitato ad utenti con ruolo di amministratore,
deve mostrare i seguenti contenuti:
1. Se l’utente non ha già effettuato le operazioni di login, deve essere visualizzato un form di login in
cui inserire UserID e password, per poi essere reindirizzati, una volta autenticati, alla stessa pagina
protetta dalla quale è scaturita la richiesta di login.
2. Se l’utente è di tipo base “USER” deve essere reindirizzato a una pagina di errore (errore.html)
contenente un messaggio che specifichi che l’utente non dispone di diritti sufficienti alla gestione
del e-commerce e un link per il logout.
3. Se l’utente è di tipo admin (“ADMIN”) deve essere visualizzato un pannello di amministrazione
contenente le 3 seguenti funzionalità:
a. Inserimento di un nuovo prodotto – link a inserisci.html
b. Elenco dei prodotti amministrabili – link a view.html
c. Logout -->