<!-- Tale pagina viene prodotta dinamicamente in funzione dell’ID del prodotto ricevuto come parametro url.
Qualora la pagina venisse richiesta senza nessun parametro, l’utente deve essere rediretto verso la
pagina prodotti.
Tale pagina dovrà contenere l’immagine e tutte le informazioni disponibili sul prodotto opportunamente
impaginate -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <link rel="stylesheet" href="/assets/styles/product.css">
    <title>Product</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img class="logo" src="/assets/img/logo.png" alt="">
        <a class="navbar-brand" href="#" style="padding: 0!important;">Nerd Vault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button type="button" class="btn nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-whatever="@mdo">Login</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pannello.html">Pannello</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- MODALE LOGIN +++ VA CON LA NAVBAR -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="#exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!-- da togliere -->
        </div>
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="inputEMail" class="col-form-label">E-mail</label>
              <input type="email" class="form-control" id="inputEMail" placeholder="michele@macaco.calabria" required> 
              <div class="invalid-feedback">
                Please insert an E-mail
              </div>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="col-form-label">Password</label>
              <input type="text" class="form-control" id="inputPassword" required>
              <div class="invalid-feedback">
                Please insert a password
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Invia</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
 <!-- FINE MODALE LOGIN +++ VA CON LA NAVBAR --> 

    <div class="container w-75 justify-content-center row" id="product-container"> 
        <div class="col-xs-12 col-md-8 d-flex flex-column">
            <img class="product-img" id="product-img" alt="sium" src="">
            <div class="product-desc" id="product-description">
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <h1 id="product-title"> </h1>
            <h3 id="product-price">  </h3>
            <input type="number" class="form-control w-25" id="product-quantity" placeholder="0" min="1" step="1" required>    
            <button type="button" id="btn-carrello" class="btn my-3"> Aggiungi al carrello </button>
            <h3 id="product-available" class="d-none"> Il prodotto non è disponibile </h3>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/scripts/product.js"></script>
    <script src="/assets/scripts/login.js"></script>
</body>
</html>