<!-- Tale pagina viene prodotta dinamicamente in funzione dell’ID del prodotto ricevuto come parametro url.
Qualora la pagina venisse richiesta senza nessun parametro, l’utente deve essere rediretto verso la
pagina prodotti.
Tale pagina dovrà contenere l’immagine e tutte le informazioni disponibili sul prodotto opportunamente
impaginate -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <link rel="stylesheet" href="/assets/styles/product.css">
    <title>Product</title>
</head>
<body>

    <div id="product-details-container"></div> Contenitore per i dettagli prodotto 

    <div class="container w-75 justify-content-center row" id="product-container"> 
        <div class="col-xs-12 col-md-8 d-flex flex-column">
            <img class="product-img" src="../assets/img/Zetman.jpg">
            <div class="product-desc" id="product-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, eos necessitatibus. Officia quae atque magnam quam aliquam! Vero delectus ducimus nostrum tempora, distinctio est. Enim doloribus laboriosam expedita recusandae necessitatibus ipsum quas unde est eaque, nisi itaque eligendi distinctio iure sequi delectus culpa voluptates quam nihil ex impedit incidunt assumenda.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
           <h1 id="product-title"> Zetman</h1>
           <h3 id="product-price"> Price: 20$ </h3>
           <h3 id="product-quantity"> Quantity : 10 </h3>
           <button type="button" class="btn my-3"> Aggiungi al carrello </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/scripts/product.js"></script>
</body>
</html>