<!-- Protetta da un controllo per l’autenticazione. Deve prevedere un bottone di logout attraverso il quale
tornare alla pagina home. Deve permettere la visualizzazione di una lista con una riga per ciascun
prodotto amministrabile e un corrispondente checkbox che, se spuntato, rende visibile il prodotto
all’utente.
Se sono presenti più di 10 prodotti, la scansione dell’elenco deve essere ripartita su più pagine generate
dinamicamente (eventi da 1 a 10, da 11 a 20 ecc.).
A fianco di ogni prodotto dell’elenco devono essere presenti due pulsanti con testo “modifica” e “cancella”,
attraverso i quali sarà possibile attivare le procedure di modifica e cancellazione del prodotto.
1. La procedura di modifica, dovrà prevedere la visualizzazione di un form, precompilato con i dati
relativi al prodotto selezionato, ma editabile in tutte le sue componenti tranne l’ID, un pulsante di
reset che ripristinerà i dati, e uno di submit per i nuovi dati.
2. La procedura di cancellazione prevederà l’eliminazione del record relativo al prodotto dall’archivio di
quelli disponibili, e conseguentemente da tutte le componenti dinamiche che ne permettevano la
visualizzazione.
3. L’aggiunta e modifica di un prodotto devono prevedere la possibilità di inserire un’immagine da
caricare in una cartella del server, e il salvataggio del nome dell’immagine nel relativo campo del
database, che verrà successivamente utilizzata nell’src del tag dell’immagine -->