<!-- Dovrà essere costituito da un elenco contenente i prodotti aggiornati dinamicamente, suddiviso in 2
sezioni, la prima conterrà i prodotti disponibili, la seconda conterrà l’elenco dei prodotti prenotabili.
Possibilità di filtrare i prodotti secondo alcune caratteristiche e secondo la disponibilità. I prodotti disponibili
dovranno essere chiaramente contrassegnati.
Ciascun prodotto dovrà essere rappresentato attraverso gli elementi:
Nome– Descrizione – Categoria – Disponibilità - link alla pagina prodotto.html con passaggio dell’ID
dell’evento come parametro url -->