body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    box-shadow: 0 0 5px 0 ;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    z-index: 100; 
    color: white;

    .logo{
        height: 50px;
        width: auto;
    }
    .navbar-brand{
        font-family: "Pixelify Sans", sans-serif;
        font-size: xx-large;
        /* border-bottom: 2px white dotted; */
    }
    .navbar-brand:hover{
        color: rgb(255, 255, 255, 0.75);
    }

    a{
        font-family: "Pixelify Sans", sans-serif;
        font-size: larger;
        color: rgb(165,55,240);
        text-shadow: 
        0px 0px 5px rgba(165,55,240, 0.8),   /* Luce centrale */
        0px 0px 15px rgba(165,55,240, 0.7),  /* Luce diffusa */
        0px 0px 25px rgba(165,55,240, 0.6),  /* Luce più sfumata */
        0px 0px 35px rgba(165,55,240, 0.5);  /* Luce che si dissipa */
    }
    a:hover {
        color: rgb(255, 255, 255,0.75) !important;
    }
}

#container-prodotti{
    margin: 0!important ;
    padding-top: 70px;
    background-color: bisque;
    color: darkred;
}

#price-range{
    color: black;
}

.form-range{
    accent-color: #ff5733; /* Colore principale del controllo */
    height: 10px; /* Altezza del track */
}
/* AGGIUNGERE IL FILE SASS PER PERSONALIZZAZIONI */